<div id="wrap">
    <Nav {segment}/>

    <main>
        <slot></slot>
    </main>
</div>

<footer>
    <div class="left">
        <!-- <div>Copyright &copy; 2020 <a href="https://softwarerero.com/">El Softwarerero</a></div> -->
    </div>
    <div class="right">
        <a href="/imprint">Imprint</a> | 
        <a href="/en/terms">Terms</a> | 
        <a href="/en/privacy">Privacy Policy</a>
    </div>
</footer>

<script>
	import Nav from '../components/Nav.svelte'
    import { currentSchema } from '../lib/colorSchemas.js'

    export let segment
</script>

<style>
:global(:root){
    /* mutedTones */
    /* --color-1: #C0B283;
    --color-2: #DCD0C0;
    --color-3: #F4F4F4;
    --color-4: #373737;
    --color-5: white; */
    /* mutedMinimal */
    /* --color-1: #96858F;
    --color-2: #6D7993;
    --color-3: #9099A2;
    --color-4: #D5D5D5;
    --color-5: 373737; */
    /* boldAndPunch */
    /* --color-1: #E24E42;
    --color-2: #E9B000;
    --color-3: #EB6E80;
    --color-4: #008F95;
    --color-5: white; */
    /* summer */
    /* --color-1: #286DA8;
    --color-2: #CD5360;
    --color-3: #B37D4E;
    --color-4: #438496;
    --color-5: white; */
    /* earthy */
    --color-1: #945D60;
    --color-2: #626E60;
    --color-3: #AF473C;
    --color-4: #3C3C3C;
    --color-5: #D5D5D5;
}

main {
    /* --header-color: purple; */
    position: relative;
    /* max-width: 56em; */
    padding: 2em;
    margin: 0 auto;
    box-sizing: border-box;
    /* background-color: var(--header-color); */
}

:global(h1, h4, h5, h6, h7) {
    color: var(--color-1);
}
:global(h2) {
    color: var(--color-2);
}
:global(h3) {
    color: var(--color-3);
}
:global(a, li strong) {
    color: var(--color-1);
}

</style>

