<svelte:head>
	<title>Contact {DEFAULTS.PROJECT_NAME}</title>
</svelte:head>

<h3>Contact {DEFAULTS.PROJECT_NAME}</h3>
<p>Your can leave us a message here.</p>
<p class="error"></p>
<form on:submit|preventDefault={send}>
    <input name="name" placeholder="Name"/>
    <input name="email" type="email" placeholder="Email" required/>
    <textarea name="message" cols="30" rows="10" placeholder="Message" required></textarea>
    <button disabled={disabled}>Send</button>
    <p class="message">{message}</p>
</form>

<script>
import { DEFAULTS, DUOBIBLO_BAK } from '../lib/params.js'
import { post } from '../lib/helpers.js'

let disabled = ''
let message = ''

const send = async event => {
    disabled = 'disabled'
    message = 'Thank you. We will get back to you soon.'

    const values = Array.from(event.target.elements)
        .filter(e => e.name && e.value)
        // .reduce((m, e) => { m += `${e.name}: ${e.value}\n`; return m }, '')
        .reduce((m, e) => { m[e.name] = e.value; return m }, {})

    await post(`${DUOBIBLO_BAK}/api/contactForm`, JSON.stringify(values))
}
</script>

<style lang="less">
form {
    display: flex;
    flex-direction: column;
    * + * {
        margin-top: 3px; 
    }
}
.error {
    color: red;
}
</style>
