<svelte:head>
	<title>{DEFAULTS.PROJECT_NAME} FAQ</title>
</svelte:head>

<!-- <ColorSchemas/> -->

<h3>Why is the language I'm learning not supported?</h3>
<p>Most translations of the bible have a copyright holder. We have to get their permission before we can use their bible texts. That said, please leave us a message which language you would like to find here.</p> 
<h3>There are so many other bible applications. Why another one?</h3>
<p>I was not aware of any which easily allows to switch between translations, books and chapters, if offline-capable, ad-free, without cost, user tracking or advertisements.</p> 
<h3>I like the project, can I help?</h3>
<p>Definitely, you can help in making this project known, contacting bible copyright holders to get their permissions (especially if you speak a foreign language), <a href="https://weblate.duobiblo.com/engage/duobiblo/">translate</a> the app into more languages, translate this website into more languages, create a professional logo, refine the app and this webpage (let us also know if you have ideas).</p> 
<h3>Is this open source?</h3>
<p>Not yet, but this is on our to-do-list. Drop us a note if you are interested, this will increase the priority. Update: We have started with open sourcing on <a href="https://gitlab.com/duobiblo">GitLab</a>.</p> 
<h3>How can I contact you?</h3>
<p>For the moment just write an email to duobiblo at softwarerero dot com.</p> 
<h3>How do you make money?</h3>
<p>We work on other projects, this one is volunteers work.</p> 
<h3>Why do I get en error (like 500)?</h3>
<p>There is a known problem whit old ressources when we update the app, which currently happens several times a day. When you see this please close the application completely and restart it when you are online. Also the application needs modern browsers to run correctly, you might need to update yours.</p> 
<h3>Where does the name Duobiblo come from?</h3>
<p>The founder of the project was studying Portuguese on <a href="https://www.duolingo.com/">Duolingo</a>. As he was reading the bible every day at one point in time he was looking for the possiblity to read the bible in two langugaes side-by-side.</p> 
<h3>Why do you use trackers?</h3>
<p>We want to know how the application is used, what works well and what not. We are not interested in personal data, we will not store or sell them. FullStory, one of our trackers allows us to discard user IP addresses, so we discard them.</p> 
<!-- <h3></h3>
<p></p>  -->

<script>
    import { DEFAULTS } from '../lib/params.js'
    import ColorSchemas from '../components/ColorSchemas.svelte'
</script>

<style>
h3 {
    font-size: 110%;
    font-weight: bold;
    color: var(--color-1);
    margin-top: 1em;
    margin-bottom: 0.5em;
}
</style>