<svelte:head>
	<title>{DEFAULTS.PROJECT_NAME} Features</title>
</svelte:head>

<h3>See chapters of the bible side-by-side in two languages</h3>
<p>Read two bible translations side-by-side to practice a language you learn. Actually you can install more languages and choose them in any order you like, for this click on the translation codes located at the right upper side of the screen.</p>

<h3>Navigate between chapters</h3>
<p>You can navigate to the next chapter clicking ▶ to the buttom right and to the previous chapter clicking ◀ at the bottom left. On a mobile device you can also naviate swipint to the left or right.</p>

<h3>Choosing books</h3>
<img alt="Choose book" src="/screenshot/chooseBook.png"/>
<p>On the upper right side you see 📖 when no book is choosen or the acronym of the current book (e.g. <em>Jn</em> for the "Book of John"). Clicking this shows you a list of all books of the bible (actually its acronyms), click on one to navigate to that book. Next you will be presented a list of all the chapter numbers of that book, click on one.</p>

<h3>Choose chapters</h3>
<img alt="Choose chapter" src="/screenshot/chooseChapter.png"/>
<p>If you just want to change the chapter in the current book click on its number and click on another one in the list you see.</p>

<h3>Choose translation</h3>
<img alt="Choose translation" src="/screenshot/chooseTranslation.png"/>
<p>If more than two translations are installed you can quicky switch between them or rearrange their order.</p>

<h3>Searching texts</h3>
<p>Pressing 🔍 reveals a field where you can input text (e.g. Rebekah) that will be looked for in all books of the bible. If you are a bilbe pro you can also navigate directly to chapters and verses using acronyms like <em>Jn3</em> or <em>Jn3:15</em>. Close the search with ❌.</p>

<h3>Listen to chapters</h3>
<img alt="Audio controls" src="/screenshot/audioControls.jpg"/>
<p>When you activate the sound options with (🔊) you can choose between <em>Play</em> (🔊), <em>Pause</em> (🔈), <em>Resume</em>(🔉) and <em>Stop</em> (🔇) to control the audio. With the buttons ▼ and ▲ you can increase or decrease the <em>Rate</em>, which means slower or quicker reading speed, or the <em>Pitch</em> which is equivalent to a lower or higher voice. Some browsers offere different voices for some languages if that is the case you also can choose between them. Any choice you do while listening has effect on the next verse.</p>
<p>While listening the currently read verse will scroll automatically into the view if it is outside and the current verse should be visible marked.</p>
<p>Some browsers don't support the Web Speech API, in that case you wll not see this option. On Firefox you may need to set <em>media.webspeech.synth.enabled</em> to <em>true</em> in <em>about:config</em>.</p>

<h3>Listen to verses</h3>
<p>You can mark individual verses and press play (🔊). You can even mix verses in different languages, if your device supports it will read them in the right language.</p>
<h3>Study on a computer or an a cellphone</h3>
<p>A Progressive Web App (PWA) always runs in a web browser. On modern mobile devices it can also be installed as any other app when you (from your browser) choose "Add to home screen".</p>
<!-- <h3></h3>
<p></p>
 -->
<script>
    import { DEFAULTS } from '../lib/params.js'    
</script>

<style>
h3 {
    font-size: 110%;
    font-weight: bold;
    color: var(--color-1);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

img {
    /* width: 180px; */
    float: right;
    margin: 0.5em;
}

</style>