<svelte:head>
	<title>About {DEFAULTS.PROJECT_NAME}</title>
</svelte:head>

<h3>About {DEFAULTS.PROJECT_NAME}</h3>

<p>Duobiblo is a service of <a href="https://bibel-mission.de/">Bibel-Mission e.V., Germany</a></p>

<p>Duobilbo would not be possible without the organizations who allow us to use their bible translations:</p>
<div class="organizations">
    <a href="https://www.bible-for-the-nations.com">Bible for the Nations</a>
    <br><a href="https://www.bibleleague.org/bible-downloads/license-agreement/">Bible League International</a>
    <br><a href="https://thebible.org/gt/notices/pubg.html">Gate of Hope Foundation</a>
    <br><a href="https://www.lio.org/en/">Licht im Osten</a>
    <br><a href="https://www.folkbibeln.org">Svenska Folkbibeln</a>
        <!-- <br><a href=""></a> -->
</div>

<p>Disclaimer: We do not take any responsibility for the content of the websites we link to (this phrase is motivated by German law).</p>


<script>
import { DEFAULTS } from '../lib/params.js'
</script>

<style lang="less">
.organizations {
    /* display: flex; */
    /* flex-direction: column;
    flex-direction: column; */
    line-height: 1.6;
    /* height: 60px;
    max-height: 60px;
    border: 1px solid black;
    columns: 3;
    columns: auto; */
}
</style>
