<svelte:head>
	<title>{DEFAULTS.PROJECT_NAME}</title>
</svelte:head>

<main class="index">
    <!-- <h1>{DEFAULTS.PROJECT_NAME}</h1> -->

    <h2>{DEFAULTS.PROJECT_NAME} allows to practice languages reading the bible.</h2>

    <p>See the language you want to learn side by side with a language (or several) you already understand.</p>

    <div class="images">
        <!-- <img alt='Duobiblo Screenshot' src='https://images.unsplash.com/photo-1523367368840-7d3a303cf191?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80'> -->
        <!-- <img alt='Duobiblo Screenshot' src='https://images.unsplash.com/photo-1484415063229-3d6335668531?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1388&q=80'> -->
        <img alt='Duobiblo Screenshot iPhone SE' src='/screenshot/duobibloShotIPhoneSE_600x400.jpg'>
        <!-- <img alt='Duobiblo Screenshot iPhone SE' src='/screenshot/iponeSE2BiblesDark.jpg'> -->
        <img alt='Duobiblo Screenshot Macbook' src='/screenshot/duobibloShotMac13_600x400.jpg'>
        <!-- <img alt='Duobiblo Screenshot' src='https://images.unsplash.com/photo-1495446815901-a7297e633e8d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'> -->
    </div>
    <div class="caption">Duobiblo with two translations on a phone and with four translations on a notebook.</div>

    <!-- <p><strong>Try editing this file (src/routes/index.svelte) to test live reloading.</strong></p> -->
    <button><a href="https://app.duobiblo.com/">Open the app</a></button>

    <div class="why">
        <p>Why is the bible great for practicing languages?</p>
        <ul>
            <li>The bible is compilation of 66 books written in different styles over more than 1.000 years with a coherrent message.</li>
            <li>It is the most translated book compilation in the world.</li>
            <li>All books have a verse structure which allows to display verses directly side by side.</li>
            <li>A book compilation that has influenced cultures, laws and moral standards of many societies. It even has been used as pretext for wars.</li>
            <li>Knowing the bible is fundamental for understanding human history.</li>
            <li>It was finished almost 2.000 years ago but it is still more up-to-date than tomorrows newspaper, as it is God's word.</li>
        </ul>
    </div>
</main>

<script>
    import { DEFAULTS } from '../lib/params.js'    
</script>

<style lang="less">

    .index {
		text-align: center;
		margin: 0 auto;
    }

	.images {
        /* display: flex; */
        img + img {
            margin-left: 10px;
        }
        img {
            align-self: center;
            max-width: 48%;
            max-width: 480px;
        }
    }

    .caption {
        margin-top: 10px;
        color: var(--color-2);
    }

	p {
		margin: 1em auto;
	}

    button {
        margin: 2em;
        background-color: var(--color-1);
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-family: arial;
        font-weight: bold;
        letter-spacing: 0.7px;
        line-height: 1em;
        cursor: pointer;
        font-size: 120%;
    }
    
    a {
        color: var(--color-5);
        text-decoration: none;
    }

    .why {
        text-align: left;
    }
</style>
