<!-- https://svelte.dev/repl/6485fc5119eb4572beba7cc68ac9c5f8?version=3.22.2 -->
<select bind:value={$currentSchema}>
    {#each schemaNames as name }
        <option key={name} value={name}>{name}</option>
    {/each}
</select>

<div class="outer">
    <div style="background-color: { colorSchema.color1 }">--color-1</div>
    <div style="background-color: { colorSchema.color2 }">--color-2</div>
    <div style="background-color: { colorSchema.color3 }">--color-3</div>
    <div style="background-color: { colorSchema.color4 }">--color-4</div>
    <div style="background-color: { colorSchema.color5 || 'transparent' }">--color-5</div>
</div>

<script>
    import { colorSchemas, currentSchema } from '../lib/colorSchemas.js'

    const schemaNames = Object.keys(colorSchemas)
    $: colorSchema = colorSchemas[$currentSchema]

    $: {
        if (typeof document !== 'undefined') {
            document.documentElement.style.setProperty('--color-1', colorSchema.color1)
            document.documentElement.style.setProperty('--color-2', colorSchema.color2)
            document.documentElement.style.setProperty('--color-3', colorSchema.color3)
            document.documentElement.style.setProperty('--color-4', colorSchema.color4)
            document.documentElement.style.setProperty('--color-5', colorSchema.color5 || 'transparent')
        }
    }
</script>

<style>
.outer {
    display: flex;
    justify-content: center;
}
div div {
    padding: 10px;
    text-align: center;
    width: 10%;
    margin-left: 1em;
}

</style>