<nav>
	<ul>
		<li><a rel=prefetch aria-current='{segment === undefined ? "page" : undefined}' href='.'>Duobiblo</a></li>
		<li><a rel=prefetch aria-current='{segment === "features" ? "page" : undefined}' href='features'>Features</a></li>
		<li><a rel=prefetch aria-current='{segment === "faq" ? "page" : undefined}' href='faq'>FAQ</a></li>
		<li><a rel=prefetch aria-current='{segment === "contact" ? "contact" : undefined}' href='contact'>Contact</a></li>
		<!-- <li><a rel=prefetch aria-current='{segment === "blog" ? "page" : undefined}' href='blog'>Blog</a></li> -->
	</ul>
</nav>

<script>
	export let segment;
</script>

<style>
	nav {
		/* border-bottom: 1px solid rgba(255,62,0,0.1); */
        color: var(--color-1);
        background-color: var(--color-5);
        border-bottom: 1px solid var(--color-1);
		font-weight: 300;
		padding: 0 1em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
	}

	[aria-current] {
		position: relative;
		display: inline-block;
	}

	[aria-current]::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		/* background-color: rgb(255,62,0); */
		background-color: var(--color-1);
		display: block;
		bottom: -1px;
	}

	a {
		text-decoration: none;
		padding: 1em 0.5em;
        display: block;
        font-weight: bold;
	}
</style>
