body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100%;
    background-color: #D5D5D5;
}

#sapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrap {
    flex: 1;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 70%;
    margin-right: 1em;
    margin: 1rem;
}

a {
    color: inherit;
}

a, a:visited, a:active, a:hover {
    text-decoration: none;
}
